
.sub_visual01{ width:100%; height:479px; border-bottom:solid 1px #000; background:url(../images/sub01.jpg) no-repeat center center; background-size: cover; text-align:center; position:relative;}
.sub_visual02{ width:100%; height:479px; border-bottom:solid 1px #000; background:url(../images/sub02.jpg) no-repeat center center; background-size: cover; text-align:center; position:relative;}
.s_logo{ position:absolute; top:50%; margin-top:-50px; left:0; right:0; text-align:center;}
.s_logo img{ max-width:50%;}

#menu{ width:100%; margin:0 auto; position:relative; height:58px; background:#2e2e2e; border-bottom:solid 1px #000;}
#menu ul{ max-width:1162px; margin:0 auto; position:relative; overflow:hidden; font-size:0; line-height:0;}
#menu ul li{ display:inline-block; width:33%; font-size:0; line-height:0;}
#menu ul li.first{background:url(../images/line.png) left top repeat-y;}
#menu ul li a{ display:block; width:100%; height:58px; line-height:58px; background:url(../images/line.png) right top repeat-y; font-size:22px; color:#fff; text-align:center;}
#menu ul li a.on{ background:#0b8de0;}

#contents {max-width:1162px; margin:0 auto 0 auto; position:relative; }
#contents .sub01{ width:100%; margin-top:90px; padding-bottom:100px;}
#contents .sub01 img{ width:100%;}

.sub01_m{ width:100%; margin:0; padding:0;}
.sub01_m .img01{ width:100%; margin:0; padding:0;}
.sub01_m .img01 img{ width:100%;}
.sub01_m .t02 { font-size:14px; color:#646464; margin:30px 15px 0 15px; line-height:140%;}
.sub01_m .img02 {margin:10px 20px 30px 20px; text-align:right;}
.sub01_m .img02 img{ width:40%;}

.sub02_m{margin:20px 0 20px 0; padding:0;}
.sub02_m .t01{ font-size:22px; line-height:140%; color:#1a71e7; font-weight:bold; margin:0 15px;}
.sub02_m .t02{ font-size:15px; line-height:140%; color:#323232; margin-top:5px; margin:0 15px;}

.sub02_m .info_box{ position:relative; }
.sub02_m .info_box h4{ text-align:center; font-size:14px; color:#fff; font-weight:bold; background:#4598cd; height:32px; line-height:32px; margin-top:20px;}
.sub02_m .info_box dl{ width:100%; overflow:hidden;}
.sub02_m .info_box dl dt{ width:10%; float:left; background:#969696; text-align:center; font-size:13px; color:#fff; padding:7px 0; border-bottom:solid 1px #d9d9d9; line-height:140%; font-weight:bold;}
.sub02_m .info_box dl dd{ width:90%; float:left; background:#fff; font-size:13px; color:#646464; padding:7px 0; border-bottom:solid 1px #d9d9d9; line-height:140%; text-align:center;}

.product{max-width:1162px; margin:0 auto 0 auto; position:relative; background:#fff; margin-bottom:100px;}
.product .p_tt{ text-align:center; font-size:18px; font-weight:600; color:#fff; background:#252525; height:45px; line-height:45px;}
.product ul { padding:0 3%; margin:0; overflow:hidden; border:solid 1px #252525}
.product ul li{ border-top:solid 1px #d8d8d8; padding:30px 0; overflow:hidden;}
.product ul li:first-child{ border-top:none;}
.product ul li .thum{ width:30%; display:inline-block; font-size:0; line-height:0; margin:0; padding:0; vertical-align:top; border:solid 1px #d8d8d8;}
.product ul li .thum img{ width:100%; font-size:0; line-height:0; margin:0; padding:0;}
.product ul li .txt01{ width:65%; display:inline-block; font-size:18px; line-height:140%; margin:0; padding:0 0 0 3%; vertical-align:top; color:#646464;}

#footer{
	width: 100%;
	height:5%;
	background-color: #252525;
	color: #fff;
}
#footer .add{ font-size:16px; color:#c9c9c9; text-align:center; padding-top:11px;}
#footer .t01{ font-size:12px; color:#c9c9c9; text-align:center; padding-top:3px; padding-bottom:10px;}
#footer a{ color:#c9c9c9;}

#footer .f_mo{ display:none;}
#footer .f_mo .t01{ font-size:11px; color:#c9c9c9; text-align:center; padding-top:10px;}
