/* 占썬끇彛륅옙紐낅？ 揶쏉옙以�占쎈챶以�*/
@media only screen and (max-width : 600px) {
	#sub .sub_ov > ul > li .sub_main1 .wee li{
	line-height: 26px;
	font-size:12px;
	margin-left: 20px !important;
	}
	#sub .sub_ov > ul > li .sub_main1 .wee1 div ul{
		padding:20px 0;
	}
	html,body{
		min-height:100%;
	}

	
	#main{
		width:100%;
		height:95%;
		min-height: 500px;
	}
	#main #main_visual{
		width:100%;
		height:100%;
		min-height:100%;
	}
	#main #main_visual .visual_ov .visual li.vi_0{
	background:url(../images/mm01.jpg) no-repeat center center;
	background-size: cover;
	 }
	#main #main_visual .visual_ov .visual li.vi_1{
		background:url(../images/mm02.jpg) no-repeat center center;
		background-size: cover;
	 }
	#main #main_visual .visual_ov .visual li.vi_2{
		background:url(../images/mm03.jpg) no-repeat center center;
		background-size: cover;
	 }
	#main #main_visual .visual_ov .visual li.vi_3{
		background:url(../images/mm04.jpg) no-repeat center center;
		background-size: cover;
	 }
	#main #main_visual .visual_ov .visual li.vi_4{
		background:url(../images/mm05.jpg) no-repeat center center;
		background-size: cover;
	 }
 
	#main #main_visual .visual_ov .visual li div p,
	#main #main_visual .visual_ov .visual li div h2{
		width:100%;
		text-align: center;
	}
	#main #main_visual .visual_ov .visual li div h2{
		padding-top: 20px; 
		font-size:40px;
	 }
	#main #main_visual .visual_ov .visual li div p{
		font-size:24px;
		padding-top:10px;
		line-height: 25px;
	}
	#main #main_visual .visual_ov .visual li div p.txt01{
	font-size:32px;
	line-height:120%;
	}
	
	#main #main_visual .play{
		width:15px;
		height:15px;
		margin-right:10px;
	}
	#main #main_visual .dotted_btn{
		width: 112px;
		margin-left:-56px;
	}
	#main #main_visual .dotted li{
		width: 15px;
		height:15px;
		border-radius: 7.5px;
		margin-right: 8px;
	}
	#main #sub_visual{
		display: none;
	}

#sub{
		width:100%;
	}
	#sub .sub_ov .close{
		top: 200px;
		right:0;
		width: 25px;
		height:25px;
		line-height:25px;
		font-size: 1.3em;
	}
		#sub .sub_ov > ul .sub_list_0{
	height: 850px;
}
#sub .sub_ov > ul .sub_list_1{
	height: 2750px;
}
#sub .sub_ov > ul .sub_list_2{
	height: 2950px;
}
	#sub .sub_ov > ul > li .sub_top {
    position: relative;
    width: 100%;
    height: 200px;
}
	#sub .sub_ov > ul > li .sub_top > div .inbox{
		width: 95%;
		height:100%;
	}
	#sub .sub_ov > ul > li .sub_top > div .inbox > .h_box {
		width: 90%;
		height:100%;
		padding-top: 0;
	}
	#sub .sub_ov > ul > li .sub_top > div .inbox > div h4{
		width:100%;
		text-align: center;
		margin: 5px 0;
		font-size: 1em;
	}
	#sub .sub_ov > ul > li .sub_top > div .inbox > div h4 strong{
		display: inline-block;
		margin-left: 10px;
	}
	#sub .sub_ov > ul > li .sub_top > div .inbox > div p{
		display: none;
	}
		#sub .sub_ov > ul > li .sub_m {
			margin-top: 25px;
		}
	#sub .sub_ov > ul > li .sub_m .inbox {
		width: 95%;
	}

	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung{
		width:100%;
		margin-top: 3%;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung dl{
		font-size: 1em;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt {
		font-size: 1.2em;
		position: relative;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dd {
		font-size: 1em;
		margin-bottom: 20px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt div{
		position:absolute;
		bottom: 100%;
		left: 30px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt div a img{
		width: 25px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl1 {
    margin-bottom: 20px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl_s {
		width: 75%;
	}

	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .button{
		width: 130px;
		height: 32px;
		font-size: 1em;
		line-height: 32px;
		margin: 20px 0 ;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .button1{
		width: 120px;
		height: 32px;
		font-size: 1em;
		line-height: 32px;
		margin: 20px 0 20px 5px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung > img{
		width:25px;
	}
		.popup_0{
		width:100%;
		padding:0;
	}
	.popup_0 > div{
		padding:10px;
	}
	.popup_0 table{
		width: 100%;
		font-size:12px;
	}
	#sub .sub_ov > ul > li .sub_main0 .inbox .p_img{
		display: none;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_3,
	#sub .sub_ov > ul > li .sub_main1 .section_0{
		height: 220px;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_3 p,
	#sub .sub_ov > ul > li .sub_main1 .section_0 p{
		width: 90%;
		margin:0 auto;
		font-size: 1em;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_3 p br,
		#sub .sub_ov > ul > li .sub_main1 .section_0 p br{
			display: none;	
		}
	#sub .sub_ov > ul > li .sub_main1 .section_1 img {
		width: 98%;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 > h4 {
		font-size: 1.4em;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 > h4 span{
		display: block;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 .soul {
		width: 98%;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li{
		width: 100%;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li dl{
		padding-bottom: 20px;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li dl dt{
		font-size: 1em;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li dl dd{
		text-align: center;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 > p span{
		font-size: 1.4em;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_2 > p{
		margin-bottom: 50px;
	}
	#sub .sub_ov > ul > li .sub_main1 .ph_on{
		display: block;
		color: #CD2529;
		font-size: 1.4em;
		text-align: center;
		width: 100%;
		padding-top: 10px;
	}
	#sub .sub_ov > ul > li .sub_main1 .section_4 dl{
		width: 95%;
		margin: 0 auto;
		background:none;
		padding-left:0;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_0 p {
		width: 95%;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_0 p br{
		display: none;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_0 ul {
		height: 100px;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar {
		width: 95%;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar0,
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar1,
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar2,
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar3,
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar4{
		background: none;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul {
		padding:0;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_2 div{
		width: 95%;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_2 div{
		height:680px;
		background: none;
	}
	#sub .sub_ov > ul > li .sub_main2 .sec_2 div table{
		width: 100%;
	}
	.down_btn{
		padding: 5px;
		display: inline-block;
		border: 1px solid #ED1F24;
		border-radius: 5px;
		font-size: 0.6em;
		font-weight: 600;
		position: absolute;
		top: -40px;
		right: 0;
		cursor: pointer;
		margin-left: -90px;
		width: 140px;
		height: 16px;
	}
	#footer{
		height:5%;
		min-height: 25px;
	}
	#footer .f_pc{ display:none;}
	#footer .f_mo{ display:block;}	
	
	#main #sub_visual .visual_sub li .s_hover p br{
		display: none;
	}
		.pc_ie9{
		color: #933; 
		margin-top:-10px;
		font-size: 12px;
		line-height: 20px;
		font-weight: 600;
	}
#sub .sub_ov > ul > li .sub_main1 .section_1.wee .inbox {
max-width:100%;
}
#sub .sub_ov > ul > li .sub_main1 .section_1.wee .inbox  .w_left{
	width: 100%;
}
#sub .sub_ov > ul > li .sub_main1 .section_1.wee .inbox  .w_left img{
	width:180px;
	margin: 0 auto;
}
#sub .sub_ov > ul > li .sub_main1 .section_1.wee .inbox  .w_left dl {
	width:250px;
	margin: 0 auto;
}
#sub .sub_ov > ul > li .sub_main1 .section_1.wee .inbox  .w_right{
	width:100%;
}
#sub .sub_ov > ul > li .sub_main1 .wee h5{
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	padding:10px 50px;
	border-radius: 5px;
	background: url(/images/micro_main/w_icon.png) no-repeat 10px 50% #cd2529;
}
#sub .sub_ov > ul > li .sub_main1 .wee  .gray.divv{
	margin-top: 50px;
}
#sub .sub_ov > ul > li .sub_main1 .wee1{
	width:95%; 
	max-width:95%; 
	margin: 0 auto;
}
}
 

/* 揶쎼끇��옙�쀪틙+iPad 揶쏉옙以�占쎈챶以�*/
@media only screen and (min-width : 601px) and (max-width : 1023px) {
	html, body{
		min-height: 1000px;
	}
	#main #main_visual{
		min-height: 665px;
	}
	#main #main_visual .visual_ov .visual li div{
		margin-top:-85px;
	}
	#main #main_visual .visual_ov .visual li div p,
	#main #main_visual .visual_ov .visual li div h2{
		width:100%;
		text-align: center;
	}
	#main #main_visual .visual_ov .visual li div h2 img{
		width: 50%;
	}
	#main #main_visual .visual_ov .visual li div p{
		font-size: 1.5em;
		padding-top: 25px; 
	}
	#main #sub_visual{
		width:100%;
		height: 30%;
		min-height: 285px;
	}
	#main #sub_visual .visual_sub{
		width:100%;
		height: 100%;
	}
	#main #sub_visual .visual_sub li{
		float: left;
		width: 33%;
		height: 100%;
	}
	#main #sub_visual .visual_sub li.s_vi_1{
		width: 34%;
	}




#sub{
	display: none;
	width:100%;
	min-height:1200px;
}
#sub .sub_ov{
	position: relative;
	width:100%;
	overflow:hidden;
}
#sub .sub_ov .close{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #ED1F24;
	position: absolute;
	top:480px;
	right:10%;
	line-height:40px;
	text-align: center;
	font-size: 1.6em;
	font-weight:800;
	color: #fff;
	cursor: pointer;
}
#sub .sub_ov > ul{
	width: 300%;
}
#sub .sub_ov > ul > li{
	float: left;
	width: 33.3333%;
	display: none;
}
#sub .sub_ov > ul .sub_list_0{
	height: 1350px;
}
#sub .sub_ov > ul .sub_list_1{
	height: 3050px;
}
#sub .sub_ov > ul .sub_list_2{
	height: 2950px;
}
#sub .sub_ov > ul .sub_list_3{
	height: 2550px;
}
#sub .sub_ov > ul > li .sub_top{
	position: relative;
	width:100%;
	height: 480px;
}
#sub .sub_ov > ul > li .s_vis0{
	background:url(/images/micro_main/main_img_1.png) no-repeat center center;
	background-size: cover;
}
#sub .sub_ov > ul > li .s_vis1{
	background:url(/images/micro_main/main_img_2.png) no-repeat;
	background-size: cover;
}
#sub .sub_ov > ul > li .s_vis2{
	background:url(/images/micro_main/main_img_3.png) no-repeat;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_top > div{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height: 19%;
	background-color: rgba(0,0,0,0.5);
}
#sub .sub_ov > ul > li .sub_top > div .inbox{
	position: relative;
	width: 70%;
	height:100%;
	margin: 0 auto;
	min-width: 1000px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > .h_box {
	width: 887px;
	margin: 0 auto;
	padding-top: 25px;
	color: #fff;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > div h4{
	float: left;
	font-size:1.2em;
	margin-right: 50px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > div h4 strong{
	display: block;
	font-size:1.5em;
	font-weight: 600;
}

#sub .sub_ov > ul > li .sub_top > div .inbox > div p{
	float: left;
	font-size:1.3em;
	padding-top: 28px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span{
	display: block;
	width: 15px;
	height: 100%;
	cursor: pointer;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span.prev{
	float: left;
	background: url(/images/micro_main/prev.png) no-repeat center center;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span.next{
	float: right;
	background: url(/images/micro_main/next.png) no-repeat center center;
}


#sub .sub_ov > ul > li .sub_m{
}
#sub .sub_ov > ul > li .sub_m .inbox{
	width: 60%;
	height:100%;
	margin: 0 auto;
	min-width: 720px;
}
#sub .sub_ov > ul > li .sub_main0{
	height: 750px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox > div{
	float: left;
	margin-top: 7%;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .p_img{
	width: 45%;
	text-align: right;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .p_img img{
	margin-right: 80px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung{
	width: 55%;
	min-width: 350px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung > img{
	margin-top: 15px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung dl{
	font-size: 1.1em;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt{
	font-size: 1.4em;
	font-weight: 600;
	border-bottom: 2px solid #d7d7d7;
	padding: 10px 0;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt div{
	float: right;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dd{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl_s{
	width: 60%;
	height: 70px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl1{
	margin-bottom: 40px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl2{
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl_s dt{
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl1 dt{
	padding-top: 4px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl2 dt{
	padding-top: 12px;
}
#sub .sub_ov > ul > li .sub_main1 .section_0,
#sub .sub_ov > ul > li .sub_main1 .section_3{
	height: 200px;
	text-align: center;
}
#sub .sub_ov > ul > li .sub_main1 .section_0 h4,
#sub .sub_ov > ul > li .sub_main1 .section_3 h4{
	font-size: 1.4em;
	padding-top: 50px;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main1 .section_0 p,
#sub .sub_ov > ul > li .sub_main1 .section_3 p{
	font-size: 1.15em;
}
#sub .sub_ov > ul > li .sub_main1 .section_1 img{
	width: 45%;
	max-width: 980px;
}
#sub .sub_ov > ul > li .sub_main1 .section_2 .soul{
	min-width:800px; 
}
#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li dl dt span{
		display: block;
	}

#sub .sub_ov > ul > li .sub_main1 .section_4{
	width: 100%;
	height: 700px;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl{
	width: 20%;
	min-width: 400px;
	padding: 5% 0;
	margin: 0 auto;
	padding-left: 500px;
	background: url(/images/micro_main/contents.png) no-repeat 10% 50%;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl dt{
	color:#cd2529;
	font-size: 1.3em;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl dd{
	font-size: 1.1em;
	width: 98%;
	margin: 0 auto 50px;;
	line-height: 1.5em;
}

#sub .sub_ov > ul > li .sub_main2 .sec_0{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 h4{
	text-align: center;
	font-size: 1.4em;
	padding-top: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 p{
	width: 80%;
	text-align: center;
	font-size: 1.15em;
	line-height: 1.5em;
	letter-spacing: 0.2px;
	margin: 20px auto 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul{
	width: 100%;
	height: 300px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li{
	float: left;
	width: 33.3%;
	height: 100%;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_0{
	background: url(/images/micro_main/studio0.png) no-repeat center;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_1{
	background: url(/images/micro_main/studio1.png) no-repeat center;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_2{
	background: url(/images/micro_main/studio2.png) no-repeat center;
	background-size: cover;
}

#sub .sub_ov > ul > li .sub_main2 .sec_1{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 h4{
	text-align: center;
	font-size: 1.57em;
	color:#cd2529;
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar{
	width: 980px;
	margin: 0 auto;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li{
	padding-left: 10%;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar0{
	background: url(/images/micro_main/studio_list0.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar1{
	background: url(/images/micro_main/studio_list1.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar2{
	background: url(/images/micro_main/studio_list2.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar3{
	background: url(/images/micro_main/studio_list3.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar4{
	background: url(/images/micro_main/studio_list4.png) no-repeat 0 8%;
	background-size: contain;
}

#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > h5{
	font-size: 1.3em;
	color:#cd2529;
	padding-top: 20px;
	margin-bottom: 15px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul{
	padding-top: 15px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li{
	font-size: 1.1em;
	line-height: 1.5em;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li span{
	font-size: 0.6em;
	color:#cd2529;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li p{
	text-indent: 20px;
}

#sub .sub_ov > ul > li .sub_main2 .sec_2 h4{
	text-align: center;
	font-size: 1.57em;
	color:#cd2529;
	font-weight: 600;
	background-color:#f4f4f4;
	padding: 50px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div{
	width: 60%;
	min-width: 800px;
	height: 600px;
	padding: 3% 0;
	margin: 0 auto;
	background: url(/images/micro_main/studio_list_dwg.png) no-repeat 100% 50%;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table{
	width: 60%;
	font-size: 1.1em;
	border-bottom: solid 2px #cd2529;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table thead tr{
	font-size: 1.1em;
	border-top: solid 2px #cd2529;
	border-bottom: solid 2px #cd2529;
	background-color: #fcf4f4;
	color: #cd2529;
	height: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr{
	border-bottom: 2px solid #ebebeb;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td{
	padding: 15px 0;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td ul li{
	line-height: 20px;
}

#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td ul li span{
	font-size: 0.5em;
	color:#cd2529;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
		.pc_ie9{
		font-size: 14px; 
		color: #933; 
		margin-top:10px;
		line-height: 22px;
		font-weight: 600;
	}

	
	
	
	
	
	
}

/* 占쎄퀣�わ옙�源��됰슢�わ옙怨쀯옙 揶쏉옙以�*/
@media only screen and (min-width : 1024px) {
	html, body{
		min-height: 1000px;
	}
	#main #main_visual{
		min-height: 665px;
	}
	#main #main_visual .visual_ov .visual li div{
		margin-top:-85px;
	}
	#main #main_visual .visual_ov .visual li div p,
	#main #main_visual .visual_ov .visual li div h2{
		width:100%;
		text-align: center;
	}
	#main #main_visual .visual_ov .visual li div h2 img{
		width: 50%;
	}
	#main #sub_visual{
		width:100%;
		height: 30%;
		min-height: 285px;
	}
	#main #sub_visual .visual_sub{
		width:100%;
		height: 100%;
	}
	#main #sub_visual .visual_sub li{
		float: left;
		width: 33%;
		height: 100%;
	}
	#main #sub_visual .visual_sub li.s_vi_1{
		width: 34%;
	}



#sub{
	display: none;
	width:100%;
	min-height:1200px;
}
#sub .sub_ov{
	position: relative;
	width:100%;
	overflow:hidden;
}
#sub .sub_ov .close{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #ED1F24;
	position: absolute;
	top:480px;
	right:10%;
	line-height:40px;
	text-align: center;
	font-size: 1.6em;
	font-weight:800;
	color: #fff;
	cursor: pointer;
}
#sub .sub_ov > ul{
	width: 300%;
}
#sub .sub_ov > ul > li{
	float: left;
	width: 33.3333%;
	display: none;
}
#sub .sub_ov > ul .sub_list_0{
	height: 1350px;
}
#sub .sub_ov > ul .sub_list_1{
	height: 3050px;
}
#sub .sub_ov > ul .sub_list_2{
	height: 2950px;
}
#sub .sub_ov > ul .sub_list_3{
	height: 2550px;
}
#sub .sub_ov > ul > li .sub_top{
	position: relative;
	width:100%;
	height: 480px;
}
#sub .sub_ov > ul > li .s_vis0{
	background:url(/images/micro_main/main_img_1.png) no-repeat center center;
	background-size: cover;
}
#sub .sub_ov > ul > li .s_vis1{
	background:url(/images/micro_main/main_img_2.png) no-repeat;
	background-size: cover;
}
#sub .sub_ov > ul > li .s_vis2{
	background:url(/images/micro_main/main_img_3.png) no-repeat;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_top > div{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height: 19%;
	background-color: rgba(0,0,0,0.5);
}
#sub .sub_ov > ul > li .sub_top > div .inbox{
	position: relative;
	width: 70%;
	height:100%;
	margin: 0 auto;
	min-width: 1000px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > .h_box {
	width: 887px;
	margin: 0 auto;
	padding-top: 25px;
	color: #fff;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > div h4{
	float: left;
	font-size:1.2em;
	margin-right: 50px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox > div h4 strong{
	display: block;
	font-size:1.5em;
	font-weight: 600;
}

#sub .sub_ov > ul > li .sub_top > div .inbox > div p{
	float: left;
	font-size:1.3em;
	padding-top: 28px;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span{
	display: block;
	width: 15px;
	height: 100%;
	cursor: pointer;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span.prev{
	float: left;
	background: url(/images/micro_main/prev.png) no-repeat center center;
}
#sub .sub_ov > ul > li .sub_top > div .inbox .np_btn span.next{
	float: right;
	background: url(/images/micro_main/next.png) no-repeat center center;
}


#sub .sub_ov > ul > li .sub_m{
}
#sub .sub_ov > ul > li .sub_m .inbox{
	width: 60%;
	height:100%;
	margin: 0 auto;
	min-width: 720px;
}
#sub .sub_ov > ul > li .sub_main0{
	height: 750px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox > div{
	float: left;
	margin-top: 7%;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .p_img{
	width: 45%;
	text-align: right;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .p_img img{
	margin-right: 80px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung{
	width: 55%;
	min-width: 350px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung > img{
	margin-top: 15px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung dl{
	font-size: 1.1em;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt{
	font-size: 1.4em;
	font-weight: 600;
	border-bottom: 2px solid #d7d7d7;
	padding: 10px 0;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dt div{
	float: right;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl0 dd{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl_s{
	width: 60%;
	height: 70px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl1{
	margin-bottom: 40px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl2{
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl_s dt{
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl1 dt{
	padding-top: 4px;
}
#sub .sub_ov > ul > li .sub_main0 .inbox .neyoung .dl2 dt{
	padding-top: 12px;
}
#sub .sub_ov > ul > li .sub_main1 .section_0,
#sub .sub_ov > ul > li .sub_main1 .section_3{
	height: 200px;
	text-align: center;
}
#sub .sub_ov > ul > li .sub_main1 .section_0 h4,
#sub .sub_ov > ul > li .sub_main1 .section_3 h4{
	font-size: 1.4em;
	padding-top: 50px;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main1 .section_0 p,
#sub .sub_ov > ul > li .sub_main1 .section_3 p{
	font-size: 1.15em;
}
#sub .sub_ov > ul > li .sub_main1 .section_1 img{
	width: 45%;
	max-width: 980px;
}
#sub .sub_ov > ul > li .sub_main1 .section_2 .soul{
	min-width:800px; 
}
#sub .sub_ov > ul > li .sub_main1 .section_2 .soul li dl dt span{
		display: block;
	}

#sub .sub_ov > ul > li .sub_main1 .section_4{
	width: 100%;
	height: 700px;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl{
	width: 20%;
	min-width: 400px;
	padding: 5% 0;
	margin: 0 auto;
	padding-left: 500px;
	background: url(/images/micro_main/contents.png) no-repeat 10% 50%;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl dt{
	color:#cd2529;
	font-size: 1.3em;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main1 .section_4 dl dd{
	font-size: 1.1em;
	width: 98%;
	margin: 0 auto 50px;;
	line-height: 1.5em;
}

#sub .sub_ov > ul > li .sub_main2 .sec_0{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 h4{
	text-align: center;
	font-size: 1.4em;
	padding-top: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 p{
	width: 80%;
	text-align: center;
	font-size: 1.15em;
	line-height: 1.5em;
	letter-spacing: 0.2px;
	margin: 20px auto 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul{
	width: 100%;
	height: 300px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li{
	float: left;
	width: 33.3%;
	height: 100%;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_0{
	background: url(/images/micro_main/studio0.png) no-repeat center;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_1{
	background: url(/images/micro_main/studio1.png) no-repeat center;
	background-size: cover;
}
#sub .sub_ov > ul > li .sub_main2 .sec_0 ul li.stu_2{
	background: url(/images/micro_main/studio2.png) no-repeat center;
	background-size: cover;
}

#sub .sub_ov > ul > li .sub_main2 .sec_1{
	margin-bottom: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 h4{
	text-align: center;
	font-size: 1.57em;
	color:#cd2529;
	font-weight: 600;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar{
	width: 980px;
	margin: 0 auto;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li{
	padding-left: 10%;
	margin-bottom: 20px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar0{
	background: url(/images/micro_main/studio_list0.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar1{
	background: url(/images/micro_main/studio_list1.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar2{
	background: url(/images/micro_main/studio_list2.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar3{
	background: url(/images/micro_main/studio_list3.png) no-repeat 0 8%;
	background-size: contain;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar .webinar4{
	background: url(/images/micro_main/studio_list4.png) no-repeat 0 8%;
	background-size: contain;
}

#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > h5{
	font-size: 1.3em;
	color:#cd2529;
	padding-top: 20px;
	margin-bottom: 15px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul{
	padding-top: 15px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li{
	font-size: 1.1em;
	line-height: 1.5em;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li span{
	font-size: 0.6em;
	color:#cd2529;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_1 .webinar > li > ul li p{
	text-indent: 20px;
}

#sub .sub_ov > ul > li .sub_main2 .sec_2 h4{
	text-align: center;
	font-size: 1.57em;
	color:#cd2529;
	font-weight: 600;
	background-color:#f4f4f4;
	padding: 50px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div{
	width: 60%;
	min-width: 800px;
	height: 600px;
	padding: 3% 0;
	margin: 0 auto;
	background: url(/images/micro_main/studio_list_dwg.png) no-repeat 100% 50%;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table{
	width: 60%;
	font-size: 1.1em;
	border-bottom: solid 2px #cd2529;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table thead tr{
	font-size: 1.1em;
	border-top: solid 2px #cd2529;
	border-bottom: solid 2px #cd2529;
	background-color: #fcf4f4;
	color: #cd2529;
	height: 50px;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr{
	border-bottom: 2px solid #ebebeb;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td{
	padding: 15px 0;
}
#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td ul li{
	line-height: 20px;
}

#sub .sub_ov > ul > li .sub_main2 .sec_2 div table tbody tr td ul li span{
	font-size: 0.5em;
	color:#cd2529;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
		.pc_ie9{
		font-size: 14px; 
		color: #933; 
		margin-top:10px;
		line-height: 22px;
		font-weight: 600;
	}
}




