/* 600해상도 이전 */
@media only screen and (max-width : 600px) {
	
.sub_visual01{ height:250px; background:url(../images/m_sub01.jpg) no-repeat center center; }
.sub_visual02{ height:250px; background:url(../images/m_sub02.jpg) no-repeat center center; }
#menu{ height:36px;}
#menu ul li a{height:36px; line-height:34px; font-size:16px;}


.sub01{ width:1px; height:1px; position:absolute; top:-999px; left:-999px; overflow:hidden;}


#footer{height:5%; min-height: 25px;}
#footer .f_pc{ display:none;}
#footer .f_mo{ display:block;}	
}
 

/*  601~1161해상도 */
@media only screen and (min-width : 601px) and (max-width : 1161px) {

.sub01_m{ width:1px; height:1px; position:absolute; top:-999px; left:-999px; overflow:hidden;}
.sub02_m{ width:1px; height:1px; position:absolute; top:-999px; left:-999px; overflow:hidden;}
	
	
	
	
}

/* 1162해상도 */
@media only screen and (min-width : 1162px) {

.sub01_m{ width:1px; height:1px; position:absolute; top:-999px; left:-999px; overflow:hidden;}
.sub02_m{ width:1px; height:1px; position:absolute; top:-999px; left:-999px; overflow:hidden;}
}




